/* /* body{
    background-color: #F8F3F3;
} */
#header{ 
    padding-left: 2%;
    padding-right: 2%;
    /* background: linear-gradient(.25turn, #1E559C, #478AF7); */
    background: linear-gradient(.25turn, #394054, #394054);
    /* font-size: small; */
}
#header a:link{
    text-decoration: none;
    padding-left: 1%;
    font-family: 'Roboto', sans-serif;
    font-size: 35px;
    color: white;
}
#header a:visited{
    color: white;
}
.titlePerso{
    grid-column-start: 2;
    grid-column-end: 2;
}
.import{
    margin-top: 3%;
    
}
.info{
    grid-column-start: 2;
    grid-column-end: 2;
}
#infoPerso{
    margin-top: 120px;
    margin-left: 50px;
    margin-right: 50px;
}
.infoPerso{
    max-width: 500px;
}
.hovered:hover{
    text-decoration: none;
    color: #F8F3F3;
    margin-left: 5%;
    transform: scale(1.1);
}
#menu a:link{
    font-size: 25px;
}
#dropD a:link{
    font-size: 20px;
}
#navbarEns{
    max-height: 100px;
}
#ecart{
    padding-left: 4%;
    padding-right: 4%;
}
#account a:link{
    color: white;
    font-family: 'Roboto', sans-serif;
    font-size: 23px;
    padding-top: 10px;
    text-align: center;
    align-items: center;
}
#container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-align: center;
    margin-top: 120px;
    margin-left: 50px;
    margin-right: 50px;
}

#middleChoiceStudents{
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 50px;
}
.titlePage{
    text-align: center;
    margin-top: 5%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
.title{
    border:solid 1px #3B556D;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.7);
    padding: 10px;
    text-align: center;
}
.title h1{
    font-family: 'Roboto', sans-serif;
    font-size: 30px;
    color: #394054;
    text-align: center;
}
#blockCard{
    height: 1fr;
    width: 1fr;
    margin: 10%;
    border-radius: 10%;
}

#container a:link{
    text-decoration: none;
}
#container a:visited{
    text-decoration: none;
}
#container a:hover{
    text-decoration: none;
}
#recap{
    margin: 2%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr ;
    grid-template-rows: 100%;
    text-align: center;
}
#recap h1{
    font-family: 'Roboto', sans-serif;
    font-size: 30px;
    color: #478AF7;
    padding: 10px;
    margin: 0;
}
#bouton{
    padding: 10px;
    margin: 10px;
}
#afficher{
    border: solid 1px #478AF7;
    border-radius: 10px;
    margin: 5px;
}
.colored{
    background-color: #5FC2BA;
    border-color: #5FC2BA;
}
.coloredV2{
    background-color: #709CA7;
    border-color: #709CA7;
}

.colored:hover{
    background-color: #394054;
    border-color: #394054;
}
.coloredV2:hover{
    background-color: #394054;
    border-color: #394054;
}
.coloredV3{
    background-color: #137C8B;
    border-color: #137C8B;
}
.coloredV3:hover{
    background-color: #394054;
    border-color: #394054;
}
.coloredV4{
    background-color: #3B556D;
    border-color: #3B556D;
}
.coloredV4:hover{
    background-color: #394054;
    border-color: #394054;
}

#board3{
    text-align: center;
    margin: 15px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    background-color: #478AF7;
    border-radius: 10%;
}

#board3 a:link{
    text-decoration: none;
    color: white;
    font-family: 'Roboto', sans-serif;
    font-size: 23px;
    padding-top: 10px;
    text-align: center;
    align-items: center;
}
#board3 a:visited{
    color: white;
}


#board2{
    text-align: center;
    margin: 15px;
    display: grid;
    background-color: #478AF7;
    border-radius: 10%;
}
#board2 h1{
    font-family: 'Roboto', sans-serif;
    font-size: 30px;
    color: white;
    padding: 10px;
    margin: 0;
    text-decoration: underline;
    /* background: linear-gradient(.25turn,#478AF7, #1E559C); */
}
#board h1{
    font-family: 'Roboto', sans-serif;
    font-size: 30px;
    color: white;
    padding: 10px;
    margin: 0;
    text-decoration: underline;
    /* background: linear-gradient(.25turn,#478AF7, #1E559C); */
}
#board a:link{
    text-decoration: none;
    color: white;
    font-family: 'Roboto', sans-serif;
    font-size: 23px;
    padding-top: 10px;
    text-align: center;
    align-items: center;
}
#board a:visited{
    color: white;
}

#modifyEnseignant{
    text-align: center;
    margin: 50px;
}
#modificationProf{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
#modifProf{
    margin: 50px;
    align-items: center;
    text-align: center;
}
#modif2{
    background-color: #478AF7;
    border-radius: 5%;
    padding: 10px;
    grid-column-start: 2;
    text-align: center;
    grid-column-end: 2;
}
#modifCenter{
    border-radius: 5%;
    padding: 10px;
    grid-column-start: 2;
    text-align: center;
    grid-column-end: 2;
}

#deleteProf{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    text-align: center;
}
#delete2{
    padding: 10px;
    grid-column-start: 2;
    grid-column-end: 2;
    align-items: center;
    text-align: center;
}

#formAdding{
    grid-column-start: 2;
    grid-column-end: 2;
    margin: 20px;
    padding: 5%;
    border: solid 4px #3B556D;
    border-radius: 3%;
}
#formAdding h2{
    font-family: 'Roboto', sans-serif;
    font-size: 30px;
    color: #1C2942;
    padding: 10px;
    margin: 0;
    text-align: center;
}
#formAdding h4{
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    color: #3B556D;
    padding: 10px;
    margin: 0;
}
#mainAdding{
    display: grid;
    grid-template-columns: 33% 33% 33%;
    margin: 50px;
}

#formCycle{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
}
#titleChoice h2{
    font-family: 'Roboto', sans-serif;
    font-size: 40px;
    color: #0B162C;
    padding: 10px;
}
#choiceSubmitStudent{
    grid-column-start: 3;
    grid-column-end: 3;
    margin-left: 10px;
    margin-right: 10px;
}

#choiceCycleSelect{
    grid-column-start: 1;
    grid-column-end: 1;
    margin-left: 10px;
    margin-right: 10px;
}
#choiceAnnee{
    grid-column-start: 2;
    grid-column-end: 2;
    margin-left: 10px;
    margin-right: 10px;
}
#choiceSubmit{
    grid-column-start: 3;
    grid-column-end: 3;
    margin-left: 10px;
    margin-right: 10px;
}
#choiceStudent h2{
    font-family: 'Roboto', sans-serif;
    font-size: 25px;
    padding: 10px;
    margin: 0;
    text-align: center;
}

#filtreCours{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    margin: 50px;
}
#filtreCours h2{
    font-family: 'Roboto', sans-serif;
    font-size: 40px;
    color: #0B162C;
    padding: 10px;
}

.coloredV5{
    background-color: #1C2942;
    border-color: #1C2942;
}
.coloredV5:hover{
    background-color: #394054;
    border-color: #394054;
}


#titreCours{
    grid-column-start: 1;
    grid-column-end: 1;
}
#choiceCycleCours{
    grid-column-start: 1;
    grid-column-end: 1;
}
#choiceProfessor{
    grid-column-start: 2;
    grid-column-end: 2;
}
#courSemestre{
    grid-column-start: 3;
    grid-column-end: 3;
}

#choiceSubmit{
    grid-column-start: 4;
    grid-column-end: 4;
}
#formTri{
    display: grid;
    grid-column-start: 1;
    grid-column-end: 5;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}
svg{
    width: 50px;
    height: 50px;
}

svg path{
    stroke: #3B556B;
}

#board{
    margin-top: 120px;
    margin-left: 50px;
    margin-right: 50px;
}


#dropDE{
    max-width: 50px;
    max-height: 50px;
    margin-left: 1%;
    margin-right: 1%;
}

.testV1:hover{
    background-color: #394054;
}

.gestion{
    margin:3%;
    padding:2%;
}

.gestion h1{
    font-family: 'Roboto', sans-serif;
    font-size: 30px;
    color: #3B556D;
    padding: 10px;
    margin: 0;
    text-align: center;
}
.liste_annee{
    padding:2%;
}
.space{
    max-width: 400px;
}

.diviser{
    display: grid;
    grid-template-columns: 50% 50%;
}

.ppV2{
    text-align: center;
    align-items: center;
}
.pp{
    border-radius: 50%;
    width: 180px;
    height: 180px;
}