
/* body{
    background-color: #F8F3F3;
} */
#header{ 
    padding-left: 2%;
    padding-right: 2%;
    /* background: linear-gradient(.25turn, #1E559C, #478AF7); */
    background: linear-gradient(.25turn, #394054, #394054);
    /* font-size: small; */
}
#navbarEns{
    max-height: 100px;
}


#ecart{
    padding-left: 4%;
    padding-right: 4%;
}
#header a:link{
    text-decoration: none;
    padding-left: 1%;
    font-family: 'Roboto', sans-serif;
    font-size: 35px;
    color: white;
}
#header a:visited{
    color: white;
}
#menu a:link{
    font-size: 25px;
}
#dropD a:link{
    font-size: 20px;
}
#account a:link{
    color: white;
    font-family: 'Roboto', sans-serif;
    font-size: 23px;
    padding-top: 10px;
    text-align: center;
    align-items: center;
}

#center{
    text-align: center;
}
.boldTitle{
    font-style: bold;
    font-size: 27px;
}
#account a:visited {
    text-align: right;
    align-items: right;
}

#deconnexion {
    grid-column-start: 7;
    grid-column-end: 7;
}

#account {
    grid-column-start: 6;
    grid-column-end: 6;
}

#tabPerso{
    text-align: center;
    margin-left: 8%;
    margin-right: 8%;
}

#selectPerso {
    margin-left: 50px;
    margin-right: 30px;
    margin-top: 30px;
    margin-bottom: 30px;
    width: 300px;
    text-align: left;
}
#menu a:link{
    font-size: 25px;
}
#dropD a:link{
    font-size: 20px;
}
#choixSemestre{
    display: grid;
    grid-template-columns: 2fr 1fr;
    margin: 30px;
}

#formSemestre{
    display: grid;
    grid-row-start: 1;
    grid-row-end: 2;
    grid-template-columns: 2fr 1fr;
}
#titleSemestre{
    font-family: 'Roboto', sans-serif;
    font-size: 30px;
    color: #0B162C;
    text-align: center;
    align-items: center;
    padding-top: 10px;
    grid-column-start: 1;
    grid-column-end: 1;
}
#selectSemestre{
    grid-column-start: 1;
    grid-column-end: 1;
}
#buttonSemestre{
    grid-column-start: 2;
    grid-column-end: 2;
    margin-left: 2%;
}
#coursAppreciation{
    text-align: left;
}
#bulletin{
    margin-left: 10%;
    margin-right: 10%;
    /* padding: 5%; */
    border: solid 3px #3B556D;
    background-color: white;
}

#headerBulletin{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
#contact{
    text-align: right;
    display: block;
    padding: 3%;
    font-family: 'Roboto', sans-serif;
    font-size: 30px;
    color: #0B162C;
}
#contactStudent{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
#containerContact{
    border: solid 1px black;
    margin-right: 15%;
    margin-bottom: 15%;
    text-align: left;
    padding: 2%;
    grid-column-start: 3;
    grid-column-end: 3;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-style: bold;
    
}
#bodyBulletin{
    margin-top: 120px;
    margin-left: 50px;
    margin-right: 50px;
}
#big{
    font-size: 25px;
    font-style: bold;
    font-family: 'Roboto', sans-serif;
    color: #1E559C;
}

#recapBulletin{
    border: 1px solid black;
    margin: 2%;
    padding: 1%;
}
#recap{
    margin: 2%;
    padding: 1%;
}
#recap h1{
    font-family: 'Roboto', sans-serif;
    font-size: 32px;
    color: #394054;
    text-align: center;
}

#tableBulletin{
    margin: 2%;
    padding: 1%;
}

#epreuve{
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 17px;
}
#titleCours{
    font-family: 'Roboto', sans-serif;
    font-size: 25px;
}
.title h1{
    font-family: 'Roboto', sans-serif;
    font-size: 30px;
    color: #394054;
    text-align: center;
}

#formAdding{
    grid-column-start: 2;
    grid-column-end: 2;
    margin: 20px;
    padding: 5%;
    border: solid 4px #3B556D;
    border-radius: 3%;
}
#formAdding h2{
    font-family: 'Roboto', sans-serif;
    font-size: 30px;
    color: #1C2942;
    padding: 10px;
    margin: 0;
    text-align: center;
}

.ppV2{
    text-align: center;
    align-items: center;
}
.pp{
    border-radius: 50%;
    width: 180px;
    height: 180px;
}
#formAdding h4{
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    color: #3B556D;
    padding: 10px;
    margin: 0;
}
#infoPerso{
    margin-top: 120px;
    margin-left: 50px;
    margin-right: 50px;
}
.import{
    margin-top: 3%;
    
}
.info{
    grid-column-start: 2;
    grid-column-end: 2;
}
.titlePage{
    text-align: center;
    margin-top: 5%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
#mainAdding{
    display: grid;
    grid-template-columns: 33% 33% 33%;
    margin: 50px;
}
.title{
    border:solid 1px #3B556D;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.7);
    padding: 10px;
    text-align: center;
}

.hovered:hover{
    text-decoration: none;
    color: #F8F3F3;
    margin-left: 5%;
    transform: scale(1.1);
}

/* Colored */
.colored{
    background-color: #5FC2BA;
    border-color: #5FC2BA;
}
.coloredV2{
    background-color: #709CA7;
    border-color: #709CA7;
}

.colored:hover{
    background-color: #394054;
    border-color: #394054;
}
.coloredV2:hover{
    background-color: #394054;
    border-color: #394054;
}
.coloredV3{
    background-color: #137C8B;
    border-color: #137C8B;
}
.coloredV3:hover{
    background-color: #394054;
    border-color: #394054;
}
.coloredV4{
    background-color: #3B556D;
    border-color: #3B556D;
}
.coloredV4:hover{
    background-color: #394054;
    border-color: #394054;
}
.coloredV5{
    background-color: #1C2942;
    border-color: #1C2942;
}
.coloredV5:hover{
    background-color: #394054;
    border-color: #394054;
}
