 /* 
    BLANC : #F8F3F3 
    BLEU : #5FC2BA
    #3B556B
    #1C2942
    #0B162C
    */
    
    /*
    E0E2E8
    B0C0D4
    5DA5B3
    394054
    1C1C1F
    */
    /* body{
        background-color: #F8F3F3;
    } */

.pageEnseignant{
    display: grid;
    grid-template-columns: 1fr 5fr;
}
h6{
    font-family: 'Roboto', sans-serif;
    font-size: 32px;
    color: #F8F3F3;
    text-align: center;
    align-items: center;
    padding-top: 2%; 
}
.accordion-item h5{
    font-family: 'Roboto', sans-serif;
    font-size: 25px;
    color: #3B556B;
}
.modal-title h5{
    font-family: 'Roboto', sans-serif;
    font-size: 25px;
    color: #3B556B;
}

#navbarEns{
    max-height: 100px;
}

#bodyNotes{
    margin-top: 120px;
    margin-left: 50px;
    margin-right: 50px;
}
#header{ 
    padding-left: 2%;
    padding-right: 2%;
    /* background: linear-gradient(.25turn, #1E559C, #478AF7); */
    background: linear-gradient(.25turn, #394054, #394054);
    /* font-size: small; */
}
#header a:link{
    text-decoration: none;
    padding-left: 1%;
    font-family: 'Roboto', sans-serif;
    font-size: 35px;
    color: white;
}
#header a:visited{
    color: white;
}
#menu a:link{
    font-size: 25px;
}
#dropD a:link{
    font-size: 20px;
}
#ecart{
    padding-left: 4%;
    padding-right: 4%;
}
#account a:link{
    color: white;
    font-family: 'Roboto', sans-serif;
    font-size: 23px;
    padding-top: 10px;
    text-align: center;
    align-items: center;
}
.title h1{
    font-family: 'Roboto', sans-serif;
    font-size: 30px;
    color: #394054;
    text-align: center;
}
#formAdding{
    grid-column-start: 2;
    grid-column-end: 2;
    margin: 20px;
    padding: 5%;
    border: solid 4px #3B556D;
    border-radius: 3%;
}
#formAdding h2{
    font-family: 'Roboto', sans-serif;
    font-size: 30px;
    color: #1C2942;
    padding: 10px;
    margin: 0;
    text-align: center;
}

.ppV2{
    text-align: center;
    align-items: center;
}
.pp{
    border-radius: 50%;
    width: 180px;
    height: 180px;
}
#formAdding h4{
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    color: #3B556D;
    padding: 10px;
    margin: 0;
}
#infoPerso{
    margin-top: 120px;
    margin-left: 50px;
    margin-right: 50px;
}
.import{
    margin-top: 3%;
    
}
.info{
    grid-column-start: 2;
    grid-column-end: 2;
}
.titlePage{
    text-align: center;
    margin-top: 5%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
#mainAdding{
    display: grid;
    grid-template-columns: 25% 50% 25%;
    margin: 50px;
}
.title{
    border:solid 1px #3B556D;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.7);
    padding: 10px;
    text-align: center;
}

.notes h1{
    font-family: 'Roboto', sans-serif;
    font-size: 25px;
    color: #394054;
    text-align: center;
}

#choixSemestre{
    display: grid;
    grid-template-columns: 2fr 1fr;
    margin: 2%;
}

#formSemestre{
    display: grid;
    grid-row-start: 1;
    grid-row-end: 2;
    grid-template-columns: 2fr 1fr;
}
#titleSemestre{
    font-family: 'Roboto', sans-serif;
    font-size: 30px;
    color: #0B162C;
    text-align: center;
    align-items: center;
    padding-top: 10px;
    grid-column-start: 1;
    grid-column-end: 1;
}
#borderFull{
    border: solid 1px black;

}
#selectSemestre{
    grid-column-start: 1;
    grid-column-end: 1;
}
#infoPerso{
    margin-top: 150px;
}
#buttonSemestre{
    grid-column-start: 2;
    grid-column-end: 2;
    margin-left: 2%;
}
#coursAppreciation{
    margin: 2%;
}

#coursAppreciation h1{
    font-family: 'Roboto', sans-serif;
    font-size: 35px;
    color: #1C2942;
    text-align: center;
    align-items: center;
    padding-top: 10px;
}
#coursNotes{
    margin: 50px;
    /* border: solid 1px black; */
    padding: 50px ;

}

#titre h2{
    font-family: 'Roboto', sans-serif;
    font-size: 25px;
    color: #1C2942;
    padding: 1%;
}
#titre h4{
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    color: #1C2942;
    padding: 1%;
}
#coursNotes h2{
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    color: #478AF7;
    padding-top: 10px;
}
#epreuveNotes{
    margin: 10px;
    /* border: solid 1px black; */
    padding: 20px ;
    align-items: center;
}

.hovered:hover{
    text-decoration: none;
    color: #F8F3F3;
    margin-left: 5%;
    transform: scale(1.1);
}

/* Colored */
.colored{
    background-color: #5FC2BA;
    border-color: #5FC2BA;
}
.coloredV2{
    background-color: #709CA7;
    border-color: #709CA7;
}

.colored:hover{
    background-color: #394054;
    border-color: #394054;
}
.coloredV2:hover{
    background-color: #394054;
    border-color: #394054;
}
.coloredV3{
    background-color: #137C8B;
    border-color: #137C8B;
}
.coloredV3:hover{
    background-color: #394054;
    border-color: #394054;
}
.coloredV4{
    background-color: #3B556D;
    border-color: #3B556D;
}
.coloredV4:hover{
    background-color: #394054;
    border-color: #394054;
}
.coloredV5{
    background-color: #1C2942;
    border-color: #1C2942;
}
.coloredV5:hover{
    background-color: #394054;
    border-color: #394054;
}
