
/* background: linear-gradient(.25turn, #1E559C, #478AF7); */
    /* background-color: rgba(0, 0, 0, 0.0392156862745098);
    background: linear-gradient(.25turn, rgba(16, 0, 78, 0.3686274509803922), rgba(10, 4, 81, 0)); */
    /* background-color: #F8F3F3; */
    /* background: linear-gradient(.25turn, #F8F3F3, #FFFFFF); */
    body {
        background-color: #F8F3F3;
        margin: 0; 
        padding: 0; 
        width: 100%; 
        height: 100vh; 
        box-sizing: border-box;
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    
    #centerLogin{
        text-align: center;
        padding-top: 5%;
        width: 100%; 
        height: 100vh; 
        box-sizing: border-box;
        grid-column-start: 2;
        grid-column-end: 2;
    }
    #image{
        grid-column-start: 1;
        grid-column-end: 1;
        width: 100%; 
        height: 100vh; 
        box-sizing: border-box;
        overflow: hidden;
    }
    #chooseRole{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        padding:3%;
    }
    
    #contentLogin{
        margin-top: 5%;
        display: grid;
        grid-template-columns: 1fr 1.85fr 1fr;
    }
    
    #erreurParagraphe{
        text-align: center;
        margin: 0px;
        padding: 0px;
        font-family: 'Roboto', sans-serif;
        font-size: 17px;
        color: red;
        grid-column-start: 2;
        grid-column-end: 2;
    }
    
    #loginBox{
        grid-column-start: 2;
        grid-column-end: 2;
        background-color: white;
        border-radius: 10px;
        padding: 8%;
        margin: 3%;
    }
    .shadow {
        box-shadow: 0 2px 6px rgba(0, 0, 0, 0.4);
      }
    
    #loginBox h1{
        font-family: 'Roboto', sans-serif;
        font-size: 30px;
        color: #3B556B;
        margin-bottom: 5%;
    }
    #center{
        grid-column-start: 2;
        grid-column-end: 2;
        text-align: center;
        justify-content: center;
        align-items: center;
        padding-bottom: 5%;
    }
    
    #ecarted{
        margin-top: 2%;
        margin-bottom: 2%;
    }
    #titleLogin{
        grid-column-start: 2;
        grid-column-end: 2;
        align-items:center;
    }
    #color{
        background-color: #5FC2BA;
        border: #3B556B;
        box-shadow: 0 2px 6px rgba(0, 0, 0, 0.4);
    }

    
    
    
    
    /* 
    BLANC : #F8F3F3 
    BLEU : #5FC2BA
    #3B556B
    #1C2942
    #0B162C
    */
    
    /*
    E0E2E8
    B0C0D4
    5DA5B3
    394054
    1C1C1F
    */